html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  line-height: 1.5rem;
}

font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'PT Serif', serif;
}

.nav ol {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: 'PT Serif', serif;
  list-style-type: none;
}

a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: inherit;
}

p:not(.quote) {
  font-size:0.8rem;
}

.quote {
  font-size: 1.5rem
}
